<div [id]="config.toolbarId">
  <div class="btn-group btn-group-sm table-toolbar" role="group" aria-label="...">
    <button class="btn btn-default" title="Add" *ngIf="config.addEvent" (click)="onClickEvent($event, 'add')">
      <i class="fa fa-plus fa-fw"></i>
    </button>
    <button class="btn btn-default" title="Delete" [class.disabled]="selected.length===0"  *ngIf="config.deleteEvent" (click)="onClickEvent($event, 'delete')">
      <i class="fa fa-minus fa-fw"></i>
    </button>
    <button class="btn btn-default" [class.disabled]="selected.length!==1" title="Edit" *ngIf="config.editEvent" (click)="onClickEvent($event, 'edit')">
      <i class="fa fa-edit fa-fw"></i>
    </button>
    <button class="btn btn-default" [class.disabled]="selected.length===0" title="Batch Edit" *ngIf="config.batchEditEvent" (click)="onClickEvent($event, 'batchEdit')">
      <i class="fa fa-btc fa-fw"></i>
    </button>
    <button class="btn btn-default" [class.disabled]="selected.length!==1" title="View" *ngIf="config.viewEvent" (click)="onClickEvent($event, 'view')">
      <i class="fa fa-bars fa-fw"></i>
    </button>
    <button class="btn btn-default" [class.disabled]="selected.length!==1" title="View Document" *ngIf="config.viewDocEvent" (click)="onClickEvent($event, 'viewDoc')">
      <i class="fa fa-tree fa-fw"></i>
    </button>
    <button class="btn btn-default" [class.disabled]="selected.length===0" title="Move Up" *ngIf="config.moveUpEvent" (click)="onClickEvent($event, 'moveUp')">
      <i class="fa fa-arrow-up fa-fw"></i>
    </button>
    <button class="btn btn-default" [class.disabled]="selected.length===0" title="Move Down" *ngIf="config.moveDownEvent" (click)="onClickEvent($event, 'moveDown')">
      <i class="fa fa-arrow-down fa-fw"></i>
    </button>


    <!--<button [class]="selected.length==1?'btn btn-default':'btn btn-default disabled'"  title="Edit"  *ngIf="showEdit" (click)="onEdit()">-->
      <!--<i class="fa fa-edit fa-fw"></i>-->
    <!--</button>-->
    <!--<button class="btn btn-default" [class.disabled]="selected.length==0" title="Batch Edit"  *ngIf="showBatchEdit" (click)="onBacthEdit()">-->
      <!--<i class="fa fa-bitcoin fa-fw"></i>-->
    <!--</button>-->
    <!--<button [class]="selected.length==1?'btn btn-default':'btn btn-default disabled'" title="View Document"  *ngIf="showViewDocument" (click)="onViewDocument()">-->
      <!--<i class="fa fa-envelope-open fa-fw"></i>-->
    <!--</button>-->
    <!--<button class="btn btn-default" [class.disabled]="selected.length==0" title="Move Up"  *ngIf="showUp" (click)="onMoveUp(table)">-->
      <!--<i class="fa fa-arrow-up fa-fw"></i>-->
    <!--</button>-->
    <!--<button class="btn btn-default" [class.disabled]="selected.length==0" title="Move Down"  *ngIf="showDown" (click)="onMoveDown(table)">-->
      <!--<i class="fa fa-arrow-down fa-fw"></i>-->
    <!--</button>-->

    <!--<button class="btn btn-default" title="filter" *ngIf="!searchHide" (click)="showSearch()">-->
    <!--<i class="fa fa-search fa-fw"></i>-->
    <!--</button>-->
    <!--&nbsp;<button class="btn btn-default pull-right" title="filter" *ngIf="searchHide" (click)="showSearch()">-->
    <!--<i class="fa fa-hand-grab-o fa-fw"></i>-->
    <!--</button>-->
    <!--<div class="pull-right" *ngIf="searchHide">-->
    <!--<input class="form-control" style="height: 30px;width: 800px;"-->
    <!--type="text" placeholder="Search" #search-->
    <!--(keypress)="onKeyPress($event,table,search.value)" >-->
    <!--</div>-->
  </div>

</div>
<table [id]="config.domId" #table ></table>
<ul id="context-menu" class="dropdown-menu">
  <li data-item="view" *ngIf="config.viewEvent"><a>View</a></li>
  <li data-item="viewDoc" *ngIf="config.viewDocEvent"><a>View Document</a></li>
  <li data-item="add" *ngIf="config.addEvent"><a>Add</a></li>
  <li data-item="edit" *ngIf="config.editEvent"><a>Edit</a></li>
  <li data-item="delete" *ngIf="config.deleteEvent"><a>Delete</a></li>
  <li *ngFor="let event of config.otherEvents" [attr.data-item]="event.name"><a>{{event.name}}</a></li>
</ul>
