<div class="fds">
  <div class="row" id="filter" style="height: 50px;">
    <div class="form-group">
      <!--<app-filter></app-filter>-->
    </div>
  </div>
  <div class="row">
    <app-table [url]="url"
               [columns]="columns"
               [height]="height*0.98"
               [showAdd]="true"
               [showRemove]="true"
               [showEdit]="true"
               [showBatchEdit]="true"
               [showViewDocument]="true"
               [showUp]="false"
               [showDown]="false">
    </app-table>
  </div>
</div>
